@font-face{
	font-family: 'Montserrat Regular';
	src: url('fontes/Montserrat-Regular.otf');
}
@font-face{
	font-family: 'Montserrat Bold';
	src: url('fontes/Montserrat-Bold.otf');
}
@font-face{
	font-family: 'Google Regular';
	src: url('fontes/GoogleSans-Regular.ttf');
}
body{
	font-family: "Google Regular" !important;
}
h4{
	font-family: 'Montserrat Bold' !important;
	background-color: #000000;
}
h5{
	font-family: 'Montserrat Regular' !important;
	background-color: #000000;
}
a{
	color: #000000 !important;
}
a:hover{
	color: #ffc107 !important;
	text-decoration: none !important;
}
.todo{
	position: relative !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, 0%);
}
.branco{
	height: 640px;
}
#segundo,
#terceiro,
#quarto,
#quinto,
#sexto,
#setimo,
#oitavo,
#nono,
#decimo,
#onze,
#resultado{
	display: none;
}
.bg-hr{
	background-color: #FF0000 !important;
}
#form-data input[type="radio"]{
	opacity: 0;
}

#form-data input[type="radio"] + label{
	position: relative;
	padding: 0 0 0 10px;
}
#form-data input[type="radio"] + label:before{
	content: '';
	background-color: #FFF;
	border:2px solid #000;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: -20px;
}
#form-data input[type="radio"] + label:after{
	content: '';
	background-color: #f3e72e;
	width: 14px;
	height: 14px;
	position: absolute;
	top: 3px;
	left: -17px;
	opacity: 0;
	transform: scale(2);
	transition: transform 0.3s linear, opacity 0.3s linear;
}
#form-data input[type="radio"]:checked + label:after{
	transform: scale(1);
	opacity: 1;
}